.Weather-location {
  margin-bottom: 0;
}

.Weather-date {
  margin-top: 0;
  color: rgba(155, 155, 155, 0.8);
  font-size: 1.4rem;
  font-weight: bold;
}

.Weather-detail {
  flex: 1 1 50%;
  max-width: 50%;
}

.Weather-temperature {
  font-size: 4rem;
  font-weight: 700;
}

.Weather-temperature-infor {
  justify-content: flex-start;
  font-weight: 500;
  font-size: 1.2rem;
}

.Weather-temperature-infor > p {
  padding: 0 10px;
}

.Weather-temperature-infor > p:first-child {
  padding: 0;
}

.Weather-icon {
  flex: 1 1 50%;
  text-align: center;
}

.Weather-icon > svg {
  font-size: 8rem;
  color: #8ec5fc;
}
